<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <fieldset>
        <legend>用户登录</legend>
        <form action="/user/login" th:action="@{/user/login}" method="post">
            账号：<input type="text" name="username"><br>
            密码：<input type="password" name="password"><br>
            <span th:text="${loginInfo}"></span>
            <input type="submit" value="LOGIN">
        </form>
    </fieldset>
</body>
</html>